*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	font-family: 'New Tegomin', serif;
	/*esto reseta de cierta forma para que un 1rem= 10px* ya que por 
	default viene 16px de font-size*/
}
body {
	background-image: url(../legion.jpg);
	background-size: 100%;	
	background-repeat: no-repeat;
	font-size: 2rem;
	min-width: 400px;
	width: 100%;
	
	
}
	.main-menu {
	display: flex;
	background-color: black;
}
 div.enlaces{
	font-size: 10px;
	text-align: center;
	width: auto;
	
}
.main-menu a {
	
	text-transform: uppercase;
	text-decoration: none;
	font-size: 3rem;
	list-style: none;
	color: white;
	opacity: 0.9;
	margin-right: 10px;
}
img.logo {
	width: 200px;
	margin: 20px;
}
.main-content {
	width: 100vw;
	min-width: 300px;
	height: 500px;
}
.articulo {
	margin-top: 20px;
	padding: 0 5px;
	border-radius: 4px;
	background-color: black;
	color: #e04b33;
}
.foto {
	width: 100vw;
}

footer{
	color: #e04b33;
	text-align: left;
	align-content: flex-end;
	background-color: #0c0c0c;
	width: 100%;

}

/*para desktop---------------------------------------*/
@media (min-width: 800px){

header {
	background-color: black;
	width: 100vw;
	display: flex;
	
}

.reproductor {
	width: 300px;
	margin: 10px 0 100px 30px;
}
.main-menu {
	margin: 0%;
	padding: 0;
	height: 4%;
	display: inline-block;
	border-radius: 4px;    
 }

div.enlaces{
	width: 100vw;
	margin: 40px 0;
	

}
.main-menu a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 5rem;
	list-style: none;
	color: white;
	opacity: 0.7;
	margin-right: 30px;
	
}
.main-menu a:hover {
	
	opacity: 1;
	transition-delay: 0.09s;
}

img.logo {
	width: 20vw;
	height: 8%;
	float: left;	
	opacity: 0.9;
	margin-left: 150px;
}

.logo:hover {
	opacity: 1;
}

/* contenido principal --------------------*/
.main-content {
	display: flex;	
	width: 20vw;
	margin: 0 0 0 20px;
	
	
}

div.foto-perfil {
	display: none;
	width: 50vw;
}
div.foto-perfil img {
	margin-top: 5px;
	border-radius: 4px;
	width: 230px;
	height: 250px;
	float: right;

}
aside {
	width: 40vw;
	margin-top: 5px;
	display: inline-block;
	
	
}

.articulo {
	margin-top: 20px;
	padding:5px;
	border-radius: 4px;
	background-color: #0c0c0c;
	color: #e04b33;
}


/*footer-----------------*/
footer{
	color: white;
	text-align: left;
	background-color: #0c0c0c;
	padding: 12px 0;
	border-radius: 4px;
}
footer p {
	margin-left: 10px;
}

}

