*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	font-family: 'New Tegomin', serif;
	/*esto reseta de cierta forma para que un 1rem= 10px* ya que por 
	default viene 16px de font-size*/
}
body {
	background-image: url(../legion.jpg);
	background-size: 100vh;	
	
}
.main-menu lu{
	display: flex;
	flex-direction: column;
	background-color: black;
	align-items: center;
	
}
.dropdown-content{
	display: none;
	overflow: hidden;
	font-size: 100px;
	text-align: center;
}
.dropdown-content a {
	font-size: 10px;
}
.main-menu a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 3rem;
	list-style: none;
	color: white;
	opacity: 0.9;
	margin-right: 10px;
}
img.logo {
	width: 100%;
	height: 100%;
}


footer{
	color: #e04b33;
	text-align: left;
	align-content: flex-end;
	background-color: #0c0c0c;
	width: 100%;

}

/*para desktop---------------------------------------*/
@media (min-width: 800px){

header {
	background-color: black;
	height: 200px;
		
}
body {
	background-image: url(../legion.jpg);
	background-size: 100%;	
	background-repeat: no-repeat;
}
nav.main-menu {
	display: flex;
	width: 100%;
	margin-left: 80px;
	
	
}
.main-menu lu{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: black;

}

.dropdown-content{
	display: none;
	overflow: hidden;
	font-size: 100px;
	text-align: center;
}
.dropdown-content a {
	font-size: 10px;
}
.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: black;
	
}
.dropdown:hover .dropdown-content a{
	font-size: 30px;
}


.main-menu a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 5rem;
	list-style: none;
	color: white;
	opacity: 0.7;
	margin-right: 10px;
	
}
.main-menu a:hover {
	opacity: 1;
	transition-delay: 0.09s;
}

img.logo {
	width: 20vw;
	height: 10%;
	opacity: 0.9;
	
}


.logo:hover {
	opacity: 1;
}

/* contenido principal --------------------*/
.main-content {
	display: flex;
	justify-content: space-around;
}
.main-content img {
	display: flex;
	width: 100px;
}
.reproductor {
	width: 300px;
	margin: 10px 0 100px 30px;
}

.youtube {
	width: 500px;
	height: 380px;
	margin-top: 10px;
	border-radius: 20px;
}

aside {
	width: 40vw;
	margin-top: 5px;
	display: inline-block;
	
}


/*footer-----------------*/
footer{
	color: white;
	text-align: left;
	background-color: #0c0c0c;
	padding: 12px 0;
	border-radius: 4px;
}
footer p {
	margin-left: 10px;
}

}

